<!DOCTYPE html>
<html>
<head>
    <title>Binary Game</title>
</head>
<body>
    <h1>Binary Game</h1>
    <p>Click on the boxes!</p>


    <p id="randomNumber">Number: </p>

    <button id="b1" onclick="c1()">0</button>
    <button id="b2" onclick="c2()">0</button>
    <button id="b3" onclick="c3()">0</button>
    <button id="b4" onclick="c4()">0</button>
    <button id="b5" onclick="c5()">0</button>
    <button id="b6" onclick="c6()">0</button>
    <br>
    <br>
    <button id="check" onclick="check">Check!</button>

    <script src="binary_game.js"></script>
</body>
</html>