<!DOCTYPE html>
<!DOCTYPE html>
<html>

<br>
<body>
    <h1>Binary Game</h1>
    <p>Click on the boxes!</p>

    <button id="b1">0</button>

    <script>
        // JavaScript to customize the button size and background color
        var button = document.getElementById("b1");
        button.style.width = "200px"; // Set the width
        button.style.height = "50px"; // Set the height
        button.style.color = "#fff"; //Set the text color
        button.style.backgroundColor = "#3498db"; //Set the background color
    </script>

    <button id="b2">0</button>

    <script>
        var button = document.getElementById("b2");
        button.style.width = "200px";
        button.style.height = "50px"; 
        button.style.color = "#fff";
        button.style.backgroundColor = "#3498db"; 
    </script>

    <button id="b3">0</button>

    <script>
    var button = document.getElementById("b3");
    button.style.width = "200px"; 
    button.style.height = "50px"; 
    </script>
</body>
</html>