<!DOCTYPE html>
<html>
<head>
    <title>Binary Game</title>
</head>
<body>
    <h1>Binary Game</h1>
    <p>Click on the boxes and </p>
    <p id="randomNumber">Number: 50</p>
    <button id="b5" onclick="c5()">0</button>
    <button id="b4" onclick="c4()">0</button>
    <button id="b3" onclick="c3()">0</button>
    <button id="b2" onclick="c2()">0</button>
    <button id="b1" onclick="c1()">0</button>
    <button id="b0" onclick="c0()">0</button>
    <br>
    <br>
    <button id="check" onclick="check()">Check!</button>

<script>
    // Define a common function for changing button text and style
    function changeText(buttonId, originalText) {
        var button = document.getElementById(buttonId);
        if (button.innerHTML === originalText) {
            button.innerHTML = "1";
        } else {
            button.innerHTML = originalText;
        }
    }

    function c5() {
        changeText("b5", "0");
    }

    function c4() {
        changeText("b4", "0");
    }

    function c3() {
        changeText("b3", "0");
    }

    function c2() {
        changeText("b2", "0");
    }

    function c1() {
        changeText("b1", "0");
    }

    function c0() {
        changeText("b0", "0");
    }

    function check() {
        var value = 0;

        if (document.getElementById("b5").innerHTML === "1") {
            value += 32;
        }

        if (document.getElementById("b4").innerHTML === "1") {
            value += 16;
        }

        if (document.getElementById("b3").innerHTML === "1") {
            value += 8;
        }

        if (document.getElementById("b2").innerHTML === "1") {
            value += 4;
        }

        if (document.getElementById("b1").innerHTML === "1") {
            value += 2;
        }

        if (document.getElementById("b0").innerHTML === "1") {
            value += 1;
        }

        if (value === 50) {
            console.log("Correct");
        } else {
            console.log("Incorrect");
        }
    }
</script>
</body>
</html>
